@{
    ViewData["Title"] = "Dojodachi";
}

<div class="text-center">
    <p class="lead">Fullness: @ViewBag.pet.fullness</p>
    <p class="lead">Happiness: @ViewBag.pet.happiness</p>
    <p class="lead">Meals: @ViewBag.pet.meals</p>
    <p class="lead">Energy: @ViewBag.pet.energy</p>
    
    <div class="box">
        <p class="lead error">@ViewBag.Message</p>
    </div>

    <div>
        <partial name="Feed" /> |
        <partial name="Play" /> |
        <partial name="Work" /> |
        <partial name="Sleep" /> 
    </div>

</div>
